
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml";
}

<h2>Index</h2>

<div class="container" id="contactDetailsList">
    <h2>List Of ContactDetails</h2>

    @*tablewill act as a jqgrid*@
    <table id="grid"></table>
    <div id="pager"></div>    @*jqgrid pager*@
    @Html.ActionLink("Back To Contacts", "Index", "Contact")
</div>


@*formatting and displaying JqGrid*@
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">  @*theme*@
<script src="~/Scripts/ContactDetailsCrud.js"></script>


